<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Takie tam...</title>
</head>
<body>
  <form method="post" action="/login/">
    <div class="container1">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter username" name="username" required>
      <label for="password"><b>Password</b></label>
      <input type="text" placeholder="Enter password" name="password" required>
      <button type="submit">Login</button>
    </div>
  </form>
</body>
</html>
