<!DOCTYPE html>
<head lang="pl">
  <meta charset="UTF-8">
  <title>Kalkulator walut</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Currency exchange calculator</h1>
  </div>
  <form method="post">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Choose a currency to buy:</h3>
          <select name="currency" id="currency">
          {% for curr in currency_list %}
            <option value={{curr}}>{{curr}}</option>
          {% endfor %}
          <select>
        </div>
        <div class="col-sm-4">
          <h3>Amount to buy</h3>
          <input type="text" name=qty><br>
        </div>
        <div class="col-sm-4">
          <h3><br></h3>
          <input type="submit" value="Calculate">
        </div>
      </div>
    </div>
  <form>
</body>
